
html, body {
  height: 100%;
  margin: 0; }

#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgb(20, 20, 20);
  color: #ffffff; }

#preloader.is-hidden {
  visibility: hidden;
  opacity: 0; }

.is-loading {
  overflow: hidden; }

.header-container {
  text-align: center;
  color: #fff; }
  .header-container .wrapper {
    padding-top: 2%;
    z-index: 2;
    position: relative; }
  .header-container h1 {
    font-size: 80px;
  }

  .header-container .bcg {
    -webkit-transition: -webkit-transform 4s ease-out;
            transition: transform 4s ease-out;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }
  .header-container.is-loaded .bcg {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1; }
  .header-container .bcg {
  background-image: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url('/static/users/images/market2.jpg');
  background-size: cover; }

  .bcg-post {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5; }
  .header-container .bcg-post {
  background-image: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url('/static/users/images/market2.jpg');
  background-size: cover; }

html,
body {
  background: rgb(20, 20, 20);
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}

.animate {
  fill: transparent;
  stroke-dasharray: 300;
  stroke-dashoffset: 600;
  stroke-width: 1px;
  stroke: #fdad59;
}

.text {
  color: #fff;
  display: inline-block;
  position: relative;
  top: -110px;
}

.logo {
  display: block;
  letter-spacing: 10px;
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-family: 'Cinzel';
}

.motto {
  display: block;
  padding-top: 10px;
  font-family: 'Cinzel';
  font-size: 9px;
  letter-spacing: 3px;
}

.svg .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%, -50%);
  background: transparent;
  }