{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'users/js/users.js' %}"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js'></script>
  <script src="{% static 'users/js/dashboard_display.js' %}"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-annotations.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <link href="https://playground.anychart.com/CbFw49P0/iframe" rel="canonical">
  <link href="https://cdn.anychart.com/releases/8.11.1/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4" rel="stylesheet" type="text/css">
  <script src="{% static 'users/js/handel_charts.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/dashboard.css' %}">

{% endblock %}

{% block content %}

  <div class="wrapper">
      <div class="landing">
        <div class="grid-container">
          <div class="item1">
          <div class="ui visible inverted left vertical sidebar menu" style="width: 330px;">
            <h1 style="font-family: 'Open Sans'; color: #fdad59; font-size: 30px; letter-spacing: 5px; font-weight: 300; text-align: center; margin-top: 1em">Market Tracker</h1>
            <a class="item" href="/dashboard">
              <i class="home icon"></i>
              Dashboard
            </a>
            <a class="item" href="/stock-list">
              <i class="block layout icon"></i>
              Stock data list
            </a>
            <a class="item" href="/profile">
              <i class="user icon"></i>
              Profile
            </a>
            <a class="item" href="/chat">
              <i class="comments icon"></i>
              Private chats
            </a>
            <a class="item" href="/blog">
              <i class="comment alternate icon"></i>
              Blog
            </a>
            {% if user.is_authenticated and user.is_staff %}
            <a class="item" href="/article/new">
              <i class="plus icon"></i>
              Add blog article
            </a>
            {% endif %}
            <a class="item" href="/logout">
              <i class="sign out alternate icon"></i>
              Logout
            </a>
          </div>
          </div>
          <div class="item2">
          <h1 style="font-family: 'Open Sans'; color: #1B1C1D; font-size: 40px; text-align: left; margin-left: 10%; line-height: 1em">Dashboard</h1>
           </div>
           <div class="item7">
             <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
               <label class="btn btn-secondary">
                 <input type="radio" name="options" id="option1" autocomplete="off" onchange="ChangeChart('column')"> Bar chart
               </label>
               <label class="btn btn-secondary">
                 <input type="radio" name="options" id="option2" autocomplete="off" onchange="ChangeChart('ohlc')"> OHLC chart
               </label>
               <label class="btn btn-secondary active">
                 <input type="radio" name="options" id="option3" autocomplete="off" onchange="ChangeChart('line')" checked> Line chart
               </label>
             </div>
           </div>
             <div class="item3">
          <div id="container"></div>
          </div>
          <div class="item4">
          <div id="container2"></div>
          </div>
          <div class="item5">
          <div id="container3"></div>
          </div>
          <div class="item6">
          <div id="container4"></div>
          </div>
        </div>

      </div>
  </div>


{% endblock %}