{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}

  <script  src="{% static 'users/js/script_form.js' %}"></script>
  <link rel="stylesheet" href="{% static 'users/css/login_form.css' %}">
  <script src="{% static 'users/js/script.js' %}"></script>

{% endblock %}

{% block content %}

  <div class="wrapper">
    {% if request.method == 'GET' %}
      <div class="landing">
    {% else %}
      <div class="landing-post">
    {% endif %}
    <div class="logo-text">
      <h1>Login</h1>
    </div>
    <div class="form-content">
      <div class="sub-text-login">
        {% if form.errors %}
          <h1 style="font-size: 20px;">Username or password is wrong</h1>
        {% endif %}
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" required placeholder="Login" name="username">
        </div>
        <div class="field space">
          <span class="fa fa-lock"></span>
          <input type="password" class="pass-key" required placeholder="Password" name="password">
          <span class="show">SHOW</span>
        </div>
        <div class="pass">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="field">
          <input type="submit" value="LOGIN">
        </div>
      </form>
      <div class="signup">Don't have account?
        <a href="{% url 'register' %}">Sign Up Now</a>
      </div>
    </div>
      </div>
  </div>

{% endblock %}