{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}

  <script src="{% static 'users/js/script.js' %}"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var header = document.querySelector('header');
    var background_image = document.querySelector('.landing');
    if (header) {
        header.style.display = 'none';
    }
    if (background_image) {
        background_image.style.backgroundImage = 'none';
    }
});
    </script>







  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-annotations.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="{% static 'users/js/csco-daily-short.js' %}"></script>
  <link href="https://playground.anychart.com/CbFw49P0/iframe" rel="canonical">
  <link href="https://cdn.anychart.com/releases/8.11.1/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4" rel="stylesheet" type="text/css">
    <script type="text/javascript">function generateNewPoints() {
    initialData.addData([
        {"date": '2023-12-28', "open": 511.53, "high": 514.98, "low": 505.79, "close": 506.40},
        {"date": '2023-12-29', "open": 512.53, "high": 514.88, "low": 505.69, "close": 507.34}
    ]);
}
anychart.onDocumentReady(function () {
  	var stage = anychart.graphics.create("container");

  	initialData = anychart.data.table("date");
    initialData.addData([
        {"date": '2021-01-01', "open": 100, "high": 120, "low": 80, "close": 110.40},
        {"date": '2021-01-02', "open": 110, "high": 130, "low": 90, "close": 110.50},
        {"date": '2021-01-03', "open": 120, "high": 140, "low": 100, "close": 110.60},
    ]);
  	var TrendMapping = initialData.mapAs({value: "close"});
    var columnMapping = initialData.mapAs({value: "high"});
  	var ohlcMapping = initialData.mapAs({open: "open", high: "high", low: "low", close: "close"});

  	var chart = anychart.stock();

  	var ohlc = chart.plot(0);
  	ohlc.ohlc(ohlcMapping).name('Price');
  	var column = chart.plot(1);
  	column.column(columnMapping).name('High');
  	var line = chart.plot(2);
  	line.line(TrendMapping).name('Trend');
  	line.priceIndicator({value: 'last-visible'});


  	line.legend(false);
  	ohlc.legend(false);
  	column.legend(false);

  	chart.top(25);

  	chart.title("AnyStock Legend: Basic Sample");

  	var rangePicker = anychart.ui.rangePicker();
  	var rangeSelector = anychart.ui.rangeSelector();

  	var customRanges = [
        {
            'text': '5 Days',
            'type': 'unit',
            'unit': 'day',
            'count': 5,
            'anchor': 'first-visible-date'
        },
        {
            'text': 'Year 2007',
            'startDate': '2007 Jan 1',
            'endDate': '2007 Dec 31',
            'type': 'range'
        },
        {
            'text': 'Full Range',
            'type': 'max'
        },
        {
            'text': '10',
            'type': 'points',
            'count': 10,
            'anchor': 'last-date'
        }
    ];

  	rangePicker.format('dd MM yyyy');

  	rangeSelector.ranges(customRanges);
  	rangeSelector.render(chart);

  	chart.container(stage);

  	chart.draw();

  	chart.selectRange("ytd");
  	rangePicker.render(chart);

  	var legend = anychart.standalones.legend();
  	legend.itemsSource([ohlc, column, line]);
  	legend.useHtml(true);
  	legend.itemsFormat(function() {
      var series = this.series;
      if (series.getType() == "line") {
        return "<span style='color:#455a64;font-weight:600'>" +
               series.name() + ":</span> " + this.value;
      }
      if (series.getType() == "ohlc") {
        return "<span style='color:#455a64;font-weight:600'>" +
               series.name() + ":</span> " +
               this.open + " / " + this.high + " / " +
               this.low + " / " + this.close;
      }
       if (series.getType() == "column") {
        return "<span style='color:#455a64;font-weight:600'>" +
               series.name() + ":</span> " + this.value;
      }

    });
  	legend.padding(10);
  	legend.container(stage);
  	legend.draw();

  	chart.splitters().normal().stroke({
      color: 'red',
      dash: '3 4',
      thickness: 1,
      opacity: 0.9
    });
    chart.splitters().hovered().stroke({
      color: 'blue',
      dash: '3 4',
      thickness: 2,
      opacity: 0.9
    });
    chart.splitters().preview().fill({
      //color: 'lightgreen',
      opacity: 0.5
    });

  	previous = 0;
});

function ChangeValue() {
  var selectElement = event.target;
  var selectIndex = selectElement.selectedIndex;
  selectElement.options[previous].disabled = false;
  selectElement.options[selectIndex].disabled = true;
  previous = selectIndex;
  initialData.addData([
        {"date": '2021-01-01', "open": 200, "high": 220, "low": 100, "close": 210},
        {"date": '2021-01-02', "open": 310, "high": 330, "low": 200, "close": 320},
        {"date": '2021-01-03', "open": 420, "high": 440, "low": 300, "close": 430},
    ]);

};</script>







{% endblock %}

{% block content %}

<style>
select {
    margin: 10px 0 0 10px;
}
button {
    margin: 10px 0 0 5px;
}
#container {
    width: 50%;
	height: 50%;
}
</style>


  <div class="wrapper">
      <div class="landing">
        <select id="typeSelect" onchange="ChangeValue()">
          <option value="1" selected disabled>Annotation Type</option>
          <option value="2">Andrews' Pitchfork</option> </select>
        <button onclick="generateNewPoints()">Generuj nowe punkty</button>
        <div class="content-container" style="display: grid; grid-template-columns: 1fr 2fr;">
          <div class="ui visible inverted left vertical sidebar menu" style="width: 330px;">
            <h1 style="font-family: 'Open Sans'; color: #fdad59; font-size: 30px; letter-spacing: 5px; font-weight: 300; text-align: center; margin-top: 1em">Market Tracker</h1>
            <a class="item">
              <i class="home icon"></i>
              Home
            </a>
            <a class="item">
              <i class="block layout icon"></i>
              Topics
            </a>
            <a class="item">
              <i class="smile icon"></i>
              Friends
            </a>
            <a class="item">
              <i class="calendar icon"></i>
              History
            </a>
          </div>
          <div id="container"></div>
        </div>

      </div>
  </div>


{% endblock %}