{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}
{% load crispy_forms_tags %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



  <script src="{% static 'users/js/script.js' %}"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var header = document.querySelector('header');
    var background_image = document.querySelector('.landing');
    if (header) {
        header.style.display = 'none';
    }
    if (background_image) {
        background_image.style.backgroundImage = 'none';
    }
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var table = $('#example').on('draw.dt', function () {
            $("#containerexample").attr("id", "container");
            $("#loadercontainer").css("display", "none");
        }).DataTable({
            lengthChange: false,
            buttons: ['excel', 'pdf'],
            "scrollX": true,
            "paging": false,
            "order": [[3, "desc"]]
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });
  </script>

  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-annotations.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="{% static 'users/js/csco-daily-short.js' %}"></script>
  <link href="https://playground.anychart.com/CbFw49P0/iframe" rel="canonical">
  <link href="https://cdn.anychart.com/releases/8.11.1/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

{% endblock %}

{% block content %}

<style>
  select {
      margin: 10px 0 0 10px;
  }
  button {
      margin: 10px 0 0 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 330px repeat(2, 1fr);
    grid-template-rows: 60px 300px 1fr;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
  }

  .item1 {
    grid-area: 1 / 1 / span 4 / 2;
  }
  .item22 {
    grid-area: 1 / 2;
  }
  .item33 {
    grid-area: 1 / 3;
  }
  .item2 {
    grid-area: 2 / 2;
  }
  .item4 {
    grid-area: 3 / 2;
  }


  #containerexample {display: none}
  #loadercontainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.zdjecie {
    position: relative;
}
.buttons-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.button {
    background-color: #1B1C1D;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    grid-area: 1 / 1;
}

.button2 {
    grid-area: 1 / 2;
}

.button3 {
    grid-area: 2 / 1;
}

.button4 {
    grid-area: 2 / 2;
}

</style>
  <div class="wrapper">
      <div class="landing">
        <select id="typeSelect" onchange="ChangeValue()">
          <option value="1" selected disabled>Annotation Type</option>
          <option value="2">Andrews' Pitchfork</option> </select>

        <div class="grid-container">
          <div class="item1">
          <div class="ui visible inverted left vertical sidebar menu" style="width: 330px;">
            <h1 style="font-family: 'Open Sans'; color: #fdad59; font-size: 30px; letter-spacing: 5px; font-weight: 300; text-align: center; margin-top: 1em">Market Tracker</h1>
            <a class="item" href="/dashboard">
              <i class="home icon"></i>
              Dashboard
            </a>
            <a class="item" href="/stock-list">
              <i class="block layout icon"></i>
              Stock data list
            </a>
            <a class="item">
              <i class="user icon"></i>
              Profile
            </a>
            <a class="item">
              <i class="comments icon"></i>
              Private chats
            </a>
            <a class="item">
              <i class="comment alternate icon"></i>
              Blog comments
            </a>
          </div>
          </div>
          <div class="item22">
            <h1 style="text-align: center;">Basic user information</h1>
          </div>
          <div class="item33">
            <h1 style="text-align: center;">Update user information</h1>
          </div>
          <div class="item2">
            <div class="media" style="padding: 7%;">
              <img class="mr-3" src="{{ user.profile.image.url }}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
                  <div class="media-body">
                    <h5 class="mt-0">{{ user.username }}</h5>
                    {{ user.profile.description }}
                  </div>
            </div>
          </div>
          <div class="item3">

            <form method="POST" enctype="multipart/form-data" style="padding: 7%">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile info!</legend>
                  {{ user_form|crispy }}
                  {{ profile_form|crispy }}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
              </div>
            </form>

          </div>
          <div class="item4">
              <h1 style="text-align: center;">Customize dashboard</h1>
              <div class="zdjecie" style="height: 100%; width: 100%;">
                <img class="dashboard-image" src="/static/users/images/customize_dashboard.png" style="height: 100%; width: 100%; object-fit: contain; object-position: center;">
                        <div class="buttons-container">
                          <button class="button button1">First chart</button>
                          <button class="button button2">Second chart</button>
                          <button class="button button3">Third chart</button>
                          <button class="button button4">Fourth chart</button>
                        </div>
              </div>
          </div>
        </div>
      </div>
  </div>


{% endblock %}