{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}
{% load crispy_forms_tags %}
{% csrf_token %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'users/js/users.js' %}"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js'></script>
  <script src="{% static 'users/js/profile.js' %}"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-annotations.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="{% static 'users/js/csco-daily-short.js' %}"></script>
  <link href="https://playground.anychart.com/CbFw49P0/iframe" rel="canonical">
  <link href="https://cdn.anychart.com/releases/8.11.1/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}">

{% endblock %}

{% block content %}

  <div class="wrapper">
      <div class="landing">
        <select id="typeSelect" onchange="ChangeValue()">
          <option value="1" selected disabled>Annotation Type</option>
          <option value="2">Andrews' Pitchfork</option> </select>

        <div class="grid-container">
          <div class="item1">
          <div class="ui visible inverted left vertical sidebar menu" style="width: 330px;">
            <h1 style="font-family: 'Open Sans'; color: #fdad59; font-size: 30px; letter-spacing: 5px; font-weight: 300; text-align: center; margin-top: 1em">Market Tracker</h1>
           <a class="item" href="/dashboard">
              <i class="home icon"></i>
              Dashboard
            </a>
            <a class="item" href="/stock-list">
              <i class="block layout icon"></i>
              Stock data list
            </a>
            <a class="item" href="/profile">
              <i class="user icon"></i>
              Profile
            </a>
            <a class="item" href="/chat">
              <i class="comments icon"></i>
              Private chats
            </a>
            <a class="item" href="/blog">
              <i class="comment alternate icon"></i>
              Blog
            </a>
            {% if user.is_authenticated and user.is_staff %}
            <a class="item" href="/article/new">
              <i class="plus icon"></i>
              Add blog article
            </a>
            {% endif %}
            <a class="item" href="/logout">
              <i class="sign out alternate icon"></i>
              Logout
            </a>
          </div>
          </div>
          <div class="item22">
            <h1 style="text-align: center;">Basic profile information</h1>
          </div>
          <div class="item33">
            <h1 style="text-align: center;">Update user/profile information</h1>
          </div>
          <div class="item2">
            <div class="media" style="padding: 7%;">
              <img class="mr-3" src="{{ user.profile.image.url }}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
                  <div class="media-body">
                    <h5 class="mt-0">{{ user.username }}</h5>
                    {{ user.profile.description }}
                  </div>
            </div>
          </div>
          <div class="item3">

            <form method="POST" enctype="multipart/form-data" action="" style="padding: 4%">
              {% csrf_token %}
              <input type="hidden" name="action" value="update-user">
              <fieldset>
                <legend class="border-bottom mb-4">User info!</legend>
                  {{ user_form|crispy }}
              </fieldset>
              <div>
                <button class="btn btn-custom-gray-outline-info" type="submit">Update</button>
              </div>
            </form>
            <form method="POST" enctype="multipart/form-data" action="" style="padding: 4%">
              {% csrf_token %}
              <input type="hidden" name="action" value="update-profile">
              <fieldset>
                <legend class="border-bottom mb-4">Profile info!</legend>
                  {{ profile_form|crispy }}
              </fieldset>
              <div>
                <button class="btn btn-custom-gray-outline-info" type="submit">Update</button>
              </div>
            </form>

          </div>
          <div class="item4">
              <h1 style="text-align: center;">Customize dashboard</h1>
              <div class="user-photo" style="height: 100%; width: 100%;">
                <img class="dashboard-image" src="/static/users/images/customize_dashboard.png" style="height: 100%; width: 100%; object-fit: contain; object-position: center;">
                        <div class="buttons-container">
                        <div class="select-wrapper form-column form-column-field">
                          <select class="button button1" id ="first-chart" onfocus="this.size=3;" onblur="this.size=1;"
                                  onchange="this.size=1; this.blur(); myFunction(1, 'first-chart')">
                          </select>
                        </div>
                        <div class="select-wrapper form-column form-column-field">
                          <select class="button button2" id ="second-chart" onfocus="this.size=3;" onblur="this.size=1;"
                                  onchange="this.size=1; this.blur(); myFunction(2, 'second-chart')">
                          </select>
                        </div>
                        <div class="select-wrapper form-column form-column-field">
                          <select class="button button3" id ="third-chart" onfocus="this.size=3;" onblur="this.size=1;"
                                  onchange="this.size=1; this.blur(); myFunction(3, 'third-chart')">
                          </select>
                        </div>
                        <div class="select-wrapper form-column form-column-field">
                          <select class="button button4" id ="fourth-chart" onfocus="this.size=3;" onblur="this.size=1;"
                                  onchange="this.size=1; this.blur(); myFunction(4, 'fourth-chart')">
                          </select>
                        </div>
                        </div>

              </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}