{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}
{% csrf_token %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



  <script src="{% static 'users/js/script.js' %}"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js'></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var header = document.querySelector('header');
    var background_image = document.querySelector('.landing');
    if (header) {
        header.style.display = 'none';
    }
    if (background_image) {
        background_image.style.backgroundImage = 'none';
    }
    });
  </script>

  <script>

    async function getArticles(){
    let articlesResp = await fetch(`/subscriptions/${'all'}`);

    let data = await articlesResp.json();
    sampleData3 = [];
    data.forEach((company, index) => {
        if (company.Default === true){
          sampleData3.push({
            company: company.Name,
            stockSymbol: company.Symbol,
            subscribed: true,
            subscriptionDate: "Default"
          })}
        else if ('subscription_date' in company){
          sampleData3.push({
            company: company.Name,
            stockSymbol: company.Symbol,
            subscribed: true,
            subscriptionDate: company.subscription_date
          })}
        else {
          sampleData3.push({
            company: company.Name,
            stockSymbol: company.Symbol,
            subscribed: false,
            subscriptionDate: ''
          });
        }
        });
        }

        async function changeSubscription(stockCompanyId, subscribed) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const response = await fetch(`/subscriptions/${'subscribe'}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ stock_company_id: stockCompanyId }),
        });

        if (response.ok) {
            if (subscribed) {
                console.log('Subscribed successfully');
            } else {
                console.log('Unsubscribed successfully');
            }
            await updateTable();
        } else {
            console.error('Error changing subscription');
        }}


        async function updateTable() {
          await getArticles();
          table.clear().rows.add(sampleData3).draw();
        }

        async function initialize() {
        await getArticles();
        updateTable();
        table = $('#example').on('draw.dt', function () {
            $("#containerexample").attr("id", "container");
            $("#loadercontainer").css("display", "none");
        }).DataTable({
            columns: [
              {title: 'Cop. name', data: 'company'},
              {title: 'Stock symbol', data: 'stockSymbol'},
              {title: 'Subscribed', data: 'subscribed',
            render: function (data, type, row) {
                if (type === 'display') {
                  if (row.subscriptionDate === 'Default'){
                    return '<input type="checkbox" checked disabled>';
                  }
                  else {
                    return '<input type="checkbox" ' + (data ? 'checked' : '') + '>';
                }}
                return data;
            }
            },
              {title: 'Subscription Date', data: 'subscriptionDate'},
              {title: 'All data', data: 'stockSymbol',
                render: function (data, type, row) {
                console.log(row.subscriptionDate);
                console.log(row);
                console.log(data);
                if (row.subscriptionDate !== '') {
                  return '<form action="/subscriptions/all-data" method="get">' +
                          ' <button type="submit" name="get all data" value="' + data + '">get all data</button>' +
                          ' </form>';
                      }
                else {
                  return '<form action="/subscriptions/all-data" method="get">' +
                          ' <button type="submit" name="get all data" value="' + data + '" disabled>get all data</button>' +
                          ' </form>';

                }}

              }
            ],
            data: sampleData3,
            lengthChange: false,
            buttons: ['excel', 'pdf'],
            "scrollX": false,
            "paging": false,
            "responsive": true,
            "order": [[3, "desc"]]
        });
        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    }
    document.addEventListener('DOMContentLoaded', function () {
    initialize();

    $(document).on('change', 'input[type="checkbox"]', async function () {
        var companyId = $(this).closest('tr').find('td:first').text();
        var subscribed = this.checked;
        await changeSubscription(companyId, subscribed);
        console.log(`Checkbox ${subscribed ? 'checked' : 'unchecked'} for company with ID: ${companyId}`);
    });
});

  </script>

  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-annotations.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="{% static 'users/js/csco-daily-short.js' %}"></script>
  <link href="https://playground.anychart.com/CbFw49P0/iframe" rel="canonical">
  <link href="https://cdn.anychart.com/releases/8.11.1/css/anychart-ui.min.css?hcode=a0c21fc77e1449cc86299c5faa067dc4" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

{% endblock %}

{% block content %}

<style>
  select {
      margin: 10px 0 0 10px;
  }
  button {
      margin: 10px 0 0 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: 60px 1fr;
    height: 95vh;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
  }

  .item1 {
    grid-area: 1 / 1 / span 4 / 2;
  }
  .item2 {
    grid-area: 1 / 2 / span 2;
  }

  #containerexample {display: none}
  #loadercontainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

</style>
  <div class="wrapper">
      <div class="landing">
        <select id="typeSelect" onchange="ChangeValue()">
          <option value="1" selected disabled>Annotation Type</option>
          <option value="2">Andrews' Pitchfork</option> </select>

        <div class="grid-container">
          <div class="item1">
          <div class="ui visible inverted left vertical sidebar menu" style="width: 330px;">
            <h1 style="font-family: 'Open Sans'; color: #fdad59; font-size: 30px; letter-spacing: 5px; font-weight: 300; text-align: center; margin-top: 1em">Market Tracker</h1>
            <a class="item" href="/dashboard">
              <i class="home icon"></i>
              Dashboard
            </a>
            <a class="item" href="/stock-list">
              <i class="block layout icon"></i>
              Stock data list
            </a>
            <a class="item" href="/profile">
              <i class="user icon"></i>
              Profile
            </a>
            <a class="item">
              <i class="comments icon"></i>
              Private chats
            </a>
            <a class="item">
              <i class="comment alternate icon"></i>
              Blog comments
            </a>
            <a class="item" href="/logout">
              <i class="sign out alternate icon"></i>
              Logout
            </a>
          </div>
          </div>
          <div class="item2">
            <div id="containerexample" class="m-0">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                </table>
              </div>
            <div id="loadercontainer">
                <div class="d-flex justify-content-center text-secondary" id="loader">
                      <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>


{% endblock %}