{% load static %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
    <title>Market Tracker - {{ title }}</title>
  {%else %}
    <title>Market Tracker</title>
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,100|Roboto+Condensed:700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

  {% if request.method == 'GET' %}
    <div class="loading">
      <div class="svg-wrapper">
        <svg height="150" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect class="animate" height="150" width="150" />
      </svg>
        <div class="text">
          <span class="logo">Market Tracker</span>
          <span class="motto">we track stocks.</span>
        </div>
      </div>
    </div>
  {% endif %}


  <script>
    var p = document.querySelector('.animate'),
      offset = 600;
    var offsetMe = function() {
      if (offset < 0) {
        offset = 600;
      }
      p.style.strokeDashoffset = offset;
      offset = offset - 5;
      requestAnimationFrame(offsetMe);
    }
    offsetMe();
  </script>


  <header>
    <span id="logo">Market Tracker</span>
    <nav>
      <a href="{% url 'homepage' %}" class="{% if title == 'Home' %}color-nav-item{% endif %}">Home</a>
      <a href="#" class="{% if title == 'Blog' %}color-nav-item{% endif %}">Blog</a>
      <a href="#" class="{% if title == 'About' %}color-nav-item{% endif %}">About</a>
      <a href="{% url 'login' %}" class="{% if title == 'Login' %}color-nav-item{% endif %}">Login</a>
      <a href="{% url 'register' %}" class="{% if title == 'Register' %}color-nav-item{% endif %}">Register</a>
    </nav>
  </header>

  {% block content %}{% endblock %}
  {% block extra_script %}{% endblock %}

</body>
</html>
