{% extends 'homepage/base.html' %}
{% load static %}

{% block extra_script %}

  <script  src="{% static 'homepage/js/script.js' %}"></script>

{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="landing"></div>
  </div>

  <div class="content-1">
    <span class="one">We Know Stocks.</span>
    <span class="two">We Track Stocks.</span>
    <span class="three">We are Market Tracker.</span>
  </div>

  <span class="mouseScroll"></span>

  <div class="about">

    <div class="hideme">
      <h1>Market Tracker</h1>
    </div>

    <div class="hideme">
      <div id="mission">
        <p>Market Tracker is a web application that provides tracking of market actions.</p>
      </div>
    </div>

    <div class="hideme">
      <div class="container"></div>
      <div class="cube">
        <div class="default-state">
          <span>Contact  Us</span>
        </div>
        <div class="active-state">
          <span>gmail</span>
        </div>
      </div>
    </div>
  </div>

  <div class="sponsors">
    <div class="hideme">
      <h2></h2>
    </div>
  </div>

  <div class="social">
    <span class="hideme">
      <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
    </span>
  </div>

{% endblock %}