{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_script %}
{% csrf_token %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'users/js/users.js' %}"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js'></script>
  <script src="{% static 'blog/js/blog_loading.js' %}"></script>
  <script src="{% static 'users/js/csco-daily-short.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/article.css' %}">
  <script src="{% static 'blog/js/blog_comments.js' %}"></script>

{% endblock %}

{% block content %}


  <div class="wrapper">
      <div class="landing">
        <div class="grid-container">
          <div class="item1">
          <div class="ui visible inverted left vertical sidebar menu" style="width: 330px;">
            <h1 style="font-family: 'Open Sans'; color: #fdad59; font-size: 30px; letter-spacing: 5px; font-weight: 300; text-align: center; margin-top: 1em">Market Tracker</h1>
            <a class="item" href="/dashboard">
              <i class="home icon"></i>
              Dashboard
            </a>
            <a class="item" href="/stock-list">
              <i class="block layout icon"></i>
              Stock data list
            </a>
            <a class="item" href="/profile">
              <i class="user icon"></i>
              Profile
            </a>
            <a class="item" href="/chat">
              <i class="comments icon"></i>
              Private chats
            </a>
            <a class="item" href="/blog">
              <i class="comment alternate icon"></i>
              Blog
            </a>
            {% if user.is_authenticated and user.is_staff %}
            <a class="item" href="/article/new">
              <i class="plus icon"></i>
              Add blog article
            </a>
            {% endif %}
            <a class="item" href="/logout">
              <i class="sign out alternate icon"></i>
              Logout
            </a>
          </div>
          </div>


        <div class="item2" style="overflow-y: auto;">
         <article class="media content-section">
              <div class="media-body">
                  <div class="article-metadata">
                      <a class="mr-2">{{ object.author }}</a>
                      <small class="text-muted">{{ object.date_posted }}</small>
                      {% if user.is_authenticated and user.is_staff %}
                        <div style="float: right;">
                            <a class="mr-2" href="/article/update/{{ article_id }}/" style="color: #A21D3D;">Edit article</a>
                            <a class="mr-2" href="/article/delete/{{ article_id }}/" style="color: #A21D3D;">Delete article</a>
                        </div>
                      {% endif %}
                  </div>
                  <h2><a class="article-title">{{ object.title }}</a></h2>
                  <p class="article-content">{{ object.content }}</p>
              </div>
          </article>
          <div class="comments-section content-section">
              <h2><a class="article-title">Comments section</a></h2>
              {% for comment in comments %}
                <div class="single-comment-section" id="single_comment_section_{{ comment.id }}">
                  <div class="article-metadata">
                      <a class="mr-2" href="/display_profile/{{ comment.author_id }}/">{{ comment.author }}</a>
                      <small class="text-muted" id="date_{{ comment.id }}">{{ comment.date_posted  }}</small>
                  </div>
                  <p class="article-content" id="{{ comment.id }}">{{ comment.content }}</p>
                  {% if user.is_authenticated and user.username == comment.author %}
                      <div style="margin-top: 10px">
                        <a class="mr-2" id="ModalBNT_{{ comment.id }}" onclick="openModal({{ comment.id }})" style="color: #A21D3D; cursor: pointer;">Edit comment</a>
                        <a class="mr-2" id="DeleteBNT_{{ comment.id }}" onclick="openDeleteModal({{ comment.id }})" style="color: #A21D3D; cursor: pointer;">Delete comment</a>
                      </div>
                  {% endif %}
                </div>
              <div id="Modal_{{ comment.id }}" class="modal">
                  <div class="modal-content">
                      <div class="modal-header">
                          <span class="close" id="close_{{ comment.id }}">&times;</span>
                          <h2>Edit comment</h2>
                      </div>
                      <div class="modal-body">
                          <textarea id="modal-text-box_{{ comment.id }}" style="width: 100%" rows="3"> </textarea>
                          <button onclick="editComment({{ comment.id }})">Edit comment</button>
                      </div>
                  </div>
              </div>

              <div id="ModalDelete_{{ comment.id }}" class="modal_2">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h2>Edit comment</h2>
                      </div>
                      <div class="modal-body">
                          <button style="border-radius: 25px; background: white; height: 45px; width: 100px" onclick="deleteComment({{ comment.id }})">Yes</button>
                          <button id="modal_close_{{ comment.id }}" style="border-radius: 25px; background: white; height: 45px; width: 100px" onclick="">Cancel</button>
                      </div>
                  </div>
              </div>

              {% endfor %}
          </div>
          <div class="chat-input-window">
                <textarea id="chat-message-input" placeholder="Type your comment" style="width: 100%; height: 10vh; padding-left: 20px; border: 1px solid #dddddd; border-radius: 3px;"></textarea>
                <button id="chat-message-submit" style="float: right; margin-top: 10px; width: 100px; height: 50px; border-radius: 25px; background: white;" onclick="addComment({{ article_id }})">SEND</button>
          </div>
        </div>
        </div>
      </div>
  </div>

{% endblock %}